{% extends 'base.html' %}
{% load avatar %}
{% load static %}

{% block content %}
<div class="col-md-10 offset-md-1">
    <div class="card">
        <h5 class="card-header">{{ user.first_name }} {{ user.last_name }}</h5>
        <div class="card-body">
            <img style="border-radius: 50%;float: left;" src="{{ user|gravatar:110 }}" />
            <div style="margin-left: 135px">
                <form method="POST" action="{% url 'edit_user' id=user.id %}">
                        {% csrf_token %}
                        {% if userForm.errors or profileForm.errors %}
                        <div class="alert alert-warning alert-dismissable" role="alert">
                            <small><sup>x</sup></small>
                            <p>form has errors...</p>
                            {% for field in userForm %}
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %}
                            {% endfor %}
                            {% for field in profileForm %}
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {{ userForm.as_p }}
                        {{ profileForm.as_p }}
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}