{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/basestyles.css' %}">
    <title>Условия использования</title>
  </head>
  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v6.0&appId=536562500578083&autoLogAppEvents=1"></script>
        <nav style="height: 42px;" class="navbar navbar-expand-lg navbar-dark bg-dark">       
        </nav>
    <br/>
    <div class="container fl">
       <h1>Условия использования</h1>
       <p>На сайте стартап клуба и в телеграмм канале запрещается публикация материалов противоречащих законодельтельству РФ, а также 
           откровенно рекламного характера. Администраторы сайта оставляют за собой право редактировать и удалять материалы такого рода, а при повторном нарушении банить пользователей их размещающих.
       </p>
       <p>Запрещается накручивать рейтинги проектов, все манипуляции с массовой регистрацией ботов и  прочие действия будут пресекаться,
           а люди организовавшие их будут банится и на сайте и в телеграм канале.
        </p>
        <p>
          Также запрещается массовая регистрация проектов, флуд, и прочие действия не несущие никакой пользы сообществу, все эти материалы будут удаляться, а люди их разместившие - баниться.
        </p>
        <p>
          Регистрируясь на сайте, пользователь обязуется проявлять уважение к другим участникам сообщества, и соблюдать правила сообщества.
        </p>
    </div>
     <footer class="bg-dark footer">
      © Стартап клуб, {% now "Y" %}. Site is powered by <a style="color:white;" href="{% url 'get_user' id=1 %}">PainKiller</a>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>