.c_container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}

.half {
    width: 50%;
}

.contact {
    list-style-type: none;
}

.form_bottom {
    margin-bottom: 20px;
}

.error {
    border-color: red !important;
    /* color: red; */
}

@media(max-width: 990px) {

    .c_container {
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }

    .contact {
        margin-left: 0;
        padding-left: 0;
    }

    .half {
        margin-top: 15px;
        width: 100%;
    }
    
}

