{% load avatar %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/basestyles.css' %}">
    {% block cssfiles %}
    <!-- Optional css -->
    {% endblock %}
    <title>Стартап клуб</title>
  </head>
  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v6.0&appId=536562500578083&autoLogAppEvents=1"></script>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if request.path != '/' %} active {% endif %}">
                      <a class="nav-link" href="{% url 'home' %}">Главная</a>
                    </li>
                    <li class="nav-item {% if '/auth/' not in request.path %} active {% endif %}">
                      <a class="nav-link" href="{% url 'get_users' %}">Участники<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if '/projects/' not in request.path %} active {% endif %}">
                      <a class="nav-link" href="{% url 'projects' %}">Проекты<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if '/vacancies/' not in request.path %} active {% endif %}">
                      <a class="nav-link" href="{% url 'vacancies' %}">Вакансии<span class="sr-only">(current)</span></a>
                   </li>
                    <li class="nav-item {% if '/useful/' not in request.path %} active {% endif %}">
                        <a class="nav-link" href="{% url 'useful' %}">Полезное<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if '/news/' not in request.path %} active {% endif %}">
                        <a class="nav-link" href="{% url 'news' %}">Новости<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if '/contacts/' not in request.path %} active {% endif %}">
                      <a class="nav-link" href="{% url 'contacts' %}">Контакты<span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                  <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                          <div class="usersnippet">
                            <img class="gravataricon" src="{{ user|gravatar:35 }}" />
                            <div class="snippet_info">
                              <a class="username" href="{% url 'get_user' id=user.id %}">{{ user.email }}</a>
                              {% if user.is_staff %}
                              <p class="userrole">Администратор</p>
                              {% else %}
                              <p class="userrole">Участник</p>
                              {% endif %}
                            </div>
                          </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout_user' %}">
                              <img src="{% static  'img/logout.svg' %}"/>
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login_user' %}">Войти</a>
                        </li>
                        {% endif %}
                  </ul>
                </div>
              </nav>
    <br/>
    <div class="container fl">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert"><small>x</small></button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
   {% block content %}
   {% endblock %}
    </div>
     <footer class="bg-dark footer">
      © Стартап клуб, {% now "Y" %}. Site is powered by <a style="color:white;" href="{% url 'get_user' id=1 %}">PainKiller</a>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block jsfiles %}
    <!-- Optional JavaScript -->
    {% endblock %}
  </body>
</html>
