{% extends 'base.html' %}
{% load static %}
{% load avatar %}
{% load comments %}
{% load ratings %}
{% load el_pagination_tags %}

{% block meta %}
<meta property="og:url"           content="{{ request.path }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{ project.title }}" />
<meta property="og:description"   content="Стартап клуб: {{ project.title }}" />
<meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<link rel="stylesheet" href="{% static 'css/project-details.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-10 offset-md-1">
    <div class="card">
        <h5 class="card-header">{{ post.title }}
        </h5>
        <div class="card-body">
          <small>создан: {{ post.created }}</small><br/>
          <small>обновлен: {{ post.updated }}</small>
          <p>{{ post.body }}</p>
          <br/>
          <div class="social" style="border-top: 1px solid rgba(0,0,0,.125); margin-top: 10px; height: 20px;">
            <div style="margin-top: 10px; margin-right: 10px;" id="vk_share_button"></div>
            <div style="margin-top: 7px;" class="fb-share-button" data-href="{{ request.path }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Поделиться</a></div>
          </div>
        </div>
      </div>
    {% if post.can_comment %}
      {% include "components/comments.html" with entity=post %}
    {% endif %}
{% endblock %}

{% block jsfiles %}
<script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
<script>
  document.getElementById('vk_share_button').innerHTML = VK.Share.button(
  {
    url: '{{ request.path }}',
    title: '{{ project.title }}',
    image: 'http://mysite.com/mypic.jpg',
    noparse: true
  }, {type: 'button'}); 
</script>
{% endblock %}