{% extends 'base.html' %}
{% load static %}
{% load avatar %}
{% load comments %}
{% load ratings %}
{% load el_pagination_tags %}

{% block meta %}
<meta property="og:url"           content="{{ request.path }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{ project.title }}" />
<meta property="og:description"   content="Стартап клуб: {{ project.title }}" />
<meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<link rel="stylesheet" href="{% static 'css/project-details.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-10 offset-md-1">
    <div class="card">
        <h5 class="card-header">{{ project.title }}
          {% if can_edit %}
          <a style="float: right;" href="{% url 'project_edit' slug=project.slug %}" class="btn btn-primary">
            <img  style="color: white" src="{% static 'img/pencil.svg' %}"/>
          </a>
          
          {% endif %}
        </h5>
        <div class="card-body">
          <small>создан: {{ project.created }}</small><br/>
          <small>обновлен: {{ project.updated }}</small>
          <p>{{ project.description }}</p>
          <p>Статус проекта: {{ project.status }}</p>
          {% if project.site %}
          <p>Сайт: <a href="{{ project.site }}">{{ project.site }}</a></p>
          {% endif %}
          {% if project.preza %}
          <p><img style="margin-right: 30px" src="{% static 'img/presentation.png' %}"/><a href="{% get_media_prefix %}{{ project.preza }}">Презентация</a></p>
          {% endif %}
          {% if project.video_pitch %}
          <p><img style="margin-right: 30px" src="{% static 'img/youtube.png' %}"/><a href="{{ project.video_pitch }}">Видео</a></p>
          {% endif %}
          <div>
            <h5>Основатели:</h5>
            {% for founder in project.founders.all %}
            <a href="{% url 'get_user' id=founder.id %}">{{ founder.get_full_name }}</a>
            {% endfor %}
          </div>
          {% with vacancies=project.vacancies.all %}
          {% if vacancies %}
          <div>
            <h5>Вакансии</h5>
            {% for vac in vacancies %}
            <a href="{% url 'vacancy_details' id=vac.id %}">{{ vac.title }}</a>
            {% endfor %}
          </div>
          {% endif %}
          {% endwith %}
          <br/>
          <h5>Рейтинг</h5>
          {% ratings project template_name='star_ratings/big_widget.html' %}
          <div class="social" style="border-top: 1px solid rgba(0,0,0,.125); margin-top: 10px; height: 20px;">
            <div style="margin-top: 10px; margin-right: 10px;" id="vk_share_button"></div>
            <div style="margin-top: 7px;" class="fb-share-button" data-href="{{ request.path }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Поделиться</a></div>
          </div>
        </div>
      </div>
      {% if user.is_authenticated %}
          {% get_comment_form for project as form %}
          <div style="margin-top: 5px; margin-bottom: 5px;" class="card">
            <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="{{ user|gravatar:117 }}" class="img rounded-circle img-fluid"/>
                  </div>
                  <div class="col-md-10">
                      <form action="{% comment_form_target %}" method="POST">
                      {% csrf_token %}
                      {{ form.honeypot }}
                      {{ form.content_type }}
                      {{ form.object_pk }}
                      {{ form.timestamp }}
                      {{ form.security_hash }}
                      <div class="clearfix"></div>
                      {{ form.comment }}
                      <p>
                        <input type="hidden" name="next" value="{% url 'project_details' project.slug %}" />
                        <br/>
                        <input class="float-right btn btn-outline-primary ml-2" type="submit" value="Отправить" id="id_submit" />
                      </p>
                      </form>
                    </div>
                  </div>
                </div>
              </div>  
          {% else %}
            <p></p>
          {% endif %}
      {% get_comment_list for project as comment_list %}
      {% paginate comment_list %}
      {% for comment in comment_list %}
      <div style="margin-top: 5px;">
        <div style="margin-top: 5px; margin-bottom: 5px;" class="card">
          <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img  src="{{ comment.user|gravatar:117 }}" class="img rounded-circle img-fluid"/>
                  <p class="text-secondary text-center">{{ comment.submit_date|date:'d.m.Y H:i' }}</p>
                </div>
                <div class="col-md-10">
                  <p>
                    <a class="float-left" href="{% url 'get_user' id=comment.user.id %}"><strong>{{ comment.user.get_full_name }}</strong></a>
                  </p>
                    <div class="clearfix"></div>
                      <p>{{ comment.comment }}</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% show_pages %}
      </div>
      <!-- comments -->
{% endblock %}

{% block jsfiles %}
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
<script>
  document.getElementById('vk_share_button').innerHTML = VK.Share.button(
  {
    url: '{{ request.path }}',
    title: '{{ project.title }}',
    image: 'http://mysite.com/mypic.jpg',
    noparse: true
  }, {type: 'button'}); 
</script>
{% endblock %}