{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-md-10 offset-md-1">
    <div class="card">
        <h5 class="card-header">{{ project.title }}
          {% if can_edit %}
          <a style="float: right;" href="{% url 'project_edit' slug=project.slug %}" class="btn btn-primary">
            <img  style="color: white" src="{% static 'img/pencil.svg' %}"/>
          </a>
          {% endif %}
        </h5>
        <div class="card-body">
          <small>создан: {{ project.created }}</small><br/>
          <small>обновлен: {{ project.updated }}</small>
          <p>{{ project.description }}</p>
          <p>Статус проекта: {{ project.status }}</p>
          {% if project.site %}
          <p>Сайт: <a href="{{ project.site }}">{{ project.site }}</a></p>
          {% endif %}
          {% if project.preza %}
          <p><img style="margin-right: 30px" src="{% static 'img/presentation.png' %}"/><a href="{% get_media_prefix %}{{ project.preza }}">Презентация</a></p>
          {% endif %}
          {% if project.video_pitch %}
          <p><img style="margin-right: 30px" src="{% static 'img/youtube.png' %}"/><a href="{{ project.video_pitch }}">Видео</a></p>
          {% endif %}
          <div>
            <h5>Основатели:</h5>
            {% for founder in project.founders.all %}
            <a href="{% url 'get_user' id=founder.id %}">{{ founder.username }}</a>
            {% endfor %}
          </div>
          {% if project.vacancies.all %}
          <div>
            <h5>Вакансии</h5>
            {% for vac in project.vacancies.all %}
            <a href="{% url 'vacancy_details' id=vac.id %}">{{ vac.title }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
{% endblock %}