{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-md-6 offset-md-3">
<h1 class="text-center">
    {% if slug == 'new' %}
    Добавление проекта
    {% else %}
    Редактирование проекта
    {% endif %}
</h1>
<form method="POST" action="{% url 'project_edit' slug=slug %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <small><sup>x</sup></small>
            <p>form has errors...</p>
            {% for field in form %}
                {% if field.errors %}
                {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            {% if slug == 'new' %}
            Добавить
            {% else %}
            Сохранить
            {% endif %}
        </button>
</form>
<br/>
</div>
{% endblock %}