{% extends 'base.html' %}
{% load static %}
{% load el_pagination_tags %}


{% block cssfiles %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-10 offset-md-1">
    <h1 style="margin-bottom: 40px">Проекты <span style="color: gray; font-size: 2rem;">{{ projects.count }}</span>
        <a style="float: right;" href="{% url 'project_edit' slug='new' %}" class="btn btn-primary">
            + Добавить проект
        </a>
    </h1>
<div>
{% include 'projectlist_page.html' with projects=projects %}    
</div>
</div>
{% endblock %}

{% block jsfiles %}
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
<script>$.endlessPaginate();</script>
{% endblock %}