{% load el_pagination_tags %}
{% load comments %}
{% load ratings %}
{% load static %}


{% paginate projects %}
{% for project in projects %}
<div style="margin-top: 10px;margin-bottom: 10px" class="card">
    <div class="card-header">
        <h5>{{ project.title }}</h5>
    </div>
    <div class="card-body">
        {{ project.description|truncatewords_html:60 }}
        <br/>
        <br/>
        {% get_comment_count for project as comment_count %}
        <p><img src="{% static 'img/comments.svg' %}"/> {{ comment_count }}</p>
        <p>{% ratings project template_name='star_ratings/small_widget.html' read_only='True' %}</p>
        <a href="{% url 'project_details' slug=project.slug %}" class="btn btn-primary">Подробности</a>
    </div>
</div>
{% endfor %}
{% show_more %}