{% extends 'base.html' %}
{% load static %}
{% load el_pagination_tags %}


{% block content %}
<h1>Полезное</h1>
{% for post in posts %}
<div style="margin-top: 10px;margin-bottom: 10px" class="card">
    <div class="card-header">
        <h5>{{ post.title }}</h5>
    </div>
    <div class="card-body">
        {{ post.body|safe|truncatewords_html:60 }}
        <br/>
        <br/>
        <a href="{% url 'post_details' slug=post.slug post_type=post.post_type %}" class="btn btn-primary">Подробности</a>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block jsfiles %}
<!-- <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
<script>$.endlessPaginate();</script> -->
{% endblock %}