{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-md-10 offset-md-1">
    <div class="card">
        <h5 class="card-header">{{ vacancy.title }}
          {% if can_edit %}
          <div style="float: right;" class="btn-toolbar">
            <a href="{% url 'vacancy_edit' id=vacancy.id %}" class="btn btn-primary btn-md mr-3">
              <img  style="color: white" src="{% static 'img/pencil.svg' %}"/>
            </a>  
            <a href="{% url 'vacancy_delete' id=vacancy.id %}" class="btn btn-danger btn-md">
              <img  style="color: white" src="{% static 'img/delete.png' %}"/>
            </a>
          </div>
          {% endif %}
        </h5>
        <div class="card-body">
          <small>создан: {{ vacancy.created }}</small><br/>
          <small>обновлен: {{ vacancy.updated }}</small>
          <p>Автор: <a href="{% url 'get_user' id=vacancy.author.id %}">{{ vacancy.author.get_full_name }}</a></p>
          <p>Проект: <a href="{% url 'project_details' slug=vacancy.project.slug %}">{{ vacancy.project }}</a></p>
          <p>Специальность: {{ vacancy.specialty }}</p>
          <p><b>{{ vacancy.body }}</b></p>
          <p>Тип вакансии: {{ vacancy.vacancy_type }}</p>
        </div>
      </div>
  </div>
{% endblock %}